body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

img {
        width: 100%;
    }

/* Media queries for responsiveness */
@media screen and (min-width: 300px) and (max-width:700) {
    img {
        width: 90px;
    }
}
